# Virtual Environment
.venv/
venv/
ENV/
env/

# Django files
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
.pytest_cache/
.tox/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db
